@charset "windows-1250";
  h1 {
    font-family: Verdana, Tahoma, Arial;
    font-size: 180%;
    text-align: center;
    color: black;
    font-weight: bold;
    /*margin: 36px;*/
    margin-top: 36px;
    margin-bottom: 18px;
  }

  h1.pagename {
    font-family: Verdana, Tahoma, Arial;
    font-size: 180%;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  h2 {
    font-family: Verdana, Tahoma, Arial;
    font-size: 150%;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-top: 28px;
    margin-bottom: 9px;
  }

  h3 {
    font-family: Verdana, Tahoma, Arial;
    font-size: 120%;
    text-align: left;
    font-weight: bold;
    color: black;
    margin: 0px;
    margin-top: 20pt;
    margin-bottom: 6pt;
  }

  h4 {
    font-family: Verdana, Tahoma, Arial;
    font-size: 100%;
    text-align: left;
    font-weight: bold;
    color: black;
    margin: 0px;
    margin-top: 16pt;
    margin-bottom: 4pt;
  }


  body {
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
    background-color: #E9E9E9;
    background-image: url('bckg.jpg');
    text-align: justify;

    margin-left:3em;
	margin-right:3em;
  }


  table.top {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 96%;
    vertical-align: center;
    text-align: center;
    border-width: 0px;
  }

  table.tableback {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 800px;
    /*width: 96%;*/
    vertical-align: top;
    text-align: center;
    border-width: 0px;
  }


  tr.top
  {
    vertical-align: center;
  }
  td.top {
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
    text-align: center;
    vertical-align: center;
  }



  a {
    color: #50608E;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: #152560;
    text-decoration: none;
  }
  a.target {
    color: black;
  }


  p
  {
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: justify;
  }

  p.center
  {
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: center;
  }

  p.main
  {
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
    text-align: center;
  }

  p.image {
    font-size: 80%;
    font-style: italic;
    /*font-size: 120%;*/
    margin-top: 6pt;
    margin-bottom: 12pt;
    text-align: center;
  }

  p.comment {
    font-size: 80%;
    font-style: italic;
    /*font-size: 120%;*/
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  p.ending {
    font-family: Verdana, Tahoma, Arial;
    font-size: 70%;
    text-align: center;
  }

  p.thanks {
    margin-right: 32%;
    margin-left: 32%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bold;
  }


  img {
    border-width: 0px;
  }

  /*
  img.right {
    float: right;
    margin-left: 6px;
  }
  img.left {
    float: left;
    margin-right: 6px;
  }
  */

  ul {
    margin-top: 6pt;
    margin-bottom: 12pt;
  }

  li {
    font-family: Verdana, Tahoma, Arial;
    font-size: 90%;
    text-align: justify;
    margin-bottom: 6pt;
  }



div {
	text-align: center;
	margin-top:10px;
}

pre
{
    margin: 3em;
	text-align: left;

}

div.center
{
	margin: auto;
	text-align: center;
	width: 800px;
}

form {
	text-align: center;
}