@charset "iso-8859-2";

/* ================================ B O D Y ================================= */

/* debug */
/*
*
{

 border: 1px solid red !important;
}
*/

body
{
    font-family: Verdana, Tahoma, Arial;
    font-size:   90%;
    text-align:  justify;

    /*image is on the same palce as a css*/
    background-image: url("bckg.jpg");
    background-color: #E9E9E9;

    /* do not use for general view, only for screen - other css*/
    /*
    width:  800px;
    margin: 0px auto;
    */


}




/* =============================== I M A G E ================================ */
img
{
    border-width: 0px;
}


/* top SimuTranslator help logo*/
img#logo
{
    float: left;
    margin:  0px;
    padding: 0px;
}


img.right
{
    float: right;
    margin-left: 4px;
}



/* ============================== A N C H O R =============================== */
a:link
{
    color: #50608E;
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: #5060CE;
    text-decoration: underline;
    font-weight: bold;
}

a:active
{
    color: #0000EE;
    text-decoration: underline;
    font-weight: bold;
}


a:visited
{
    color: #30406E;
    text-decoration: none;
    font-weight: bold;
}

a:visited:hover
{
    color: #5060CE;
    text-decoration: underline;
    font-weight: bold;
}




/* ================================ L I S T ================================= */
/* hrizontal navigation */


/* does not work in IE
    div#links > ul > li
*/


ul#navigation
{
    margin:     0px;
    padding:    0px;
    text-align: left;
}


ul#navigation li
{
    display: inline;
    list-style-type: none;
    padding-right: 2em;
    font-size:   90%;
}

.wide li
{
    margin-top: 1em;
    margin-bottom: 1em;
}



/* ================================== D I V ================================= */
div#header
{
    margin-top: 2em;
    margin-bottom: 2em;

}

div#links
{
    float:   right;
    /*width:   590px;*/
    width:   555px;
    margin:  0em;
    padding: 0em;
}


div.hr_bar
{
    /* odstran obtekani pro oba bloky*/
    clear: both;
    margin:  0px;
    padding: 10px;

    /*special hack for correct display in IE*/
    _padding: 0px;

}

div#main_text
{
    margin:  0px;
    padding: 0px;
}


div#footer
{
    margin-top: 8em;
    margin-bottom: 2em;

}

div#footer_text
{
    margin-top: 2em;
    margin-bottom: 2em;
}


/* ==================================== P =================================== */
p
{
    margin-top: 1em;
    margin-bottom: 2em;
}


/* for help image and its comment*/
p.help_img
{
    text-align: center;
    font-style: italic;
}



/*
not work in IE
div#footer_text > p
*/
p.footer_p
{
    /*
    margin-top: 2em;
    margin-bottom: 2em;
    */

    font-size:   70%;
    text-align:  center;
}




/* ==================================== H =================================== */
h1
{
    text-align:  center;
    font-size:   150%;
}

h2
{
    text-align:  center;
    font-size:   130%;
}

h3
{
    text-align:  left;
    font-size:   110%;
    /*margin-top: 1em;*/
    margin-bottom: 1em;

}

h4
{
    text-align:  left;
    font-size:   100%;
    /*margin-top: 1em;*/
    margin-bottom: 1em;

}


/* ========================================================================== */
/* ========================================================================== */



/* ========================================================================== */






