@charset "iso-8859-2";

/* special stlye addons for screen*/
body
{
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size:   90%;
    text-align:  justify;

    /*image is on the same palce as a css*/
    background-image: url("bckg.jpg");
    background-color: #E9E9E9;

    width:  775px;
    margin: 0px auto;


}

/* ============================= G E N E R A L=============================== */
.bckg_buildings1
{
    background-image: url("../images/buildings1.png");
    background-repeat: no-repeat;
    background-position: center top;

    /*border: 1px solid red !important;*/
    /*background-color: #EEEEEE;*/
}

.bckg_buildings2
{
    background-image: url("../images/buildings2.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.bckg_buildings3
{
    background-image: url("../images/buildings3.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.bckg_buildings4
{
    background-image: url("../images/buildings4.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.bckg_buildings5
{
    background-image: url("../images/buildings5.png");
    background-repeat: no-repeat;
    background-position: center top;
}


.bckg_airplane1
{
    background-image: url("../images/airplane1.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.bckg_airplane2
{
    background-image: url("../images/airplane2.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.bckg_train1
{
    background-image: url("../images/train1.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.bckg_train2
{
    background-image: url("../images/train2.png");
    background-repeat: no-repeat;
    background-position: center top;
}
