php_value max_execution_time 600
php_value memory_limit 200M
php_value post_max_size 1000M
php_value upload_max_filesize 1000M
php_value session.gc_maxlifetime 3600          

php_flag display_errors on
# php_value display_errors 0
